/* Information Page styles */
.info-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns the content to the top */
    align-items: center; /* Centers the content horizontally */
    padding: 40px;
    background-color: #e5e5e5;
    min-height: 100vh;
    text-align: center; /* Ensures that the text is centered horizontally */
}

.info-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.info-description {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 20px;
}

.info-list {
    font-size: 1.2rem;
    color: #000000;
    list-style-type: disc;
    margin-left: 20px;
    text-align: left; /* Ensures the list items are aligned to the left */
}
