/* Estilo general para la página de registro */
.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
  }
  
  /* Título de la página de registro */
  .register-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  /* Formulario */
  .register-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  
    /* Asegura que el contenido dentro del form esté centrado verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Grupo de cada campo del formulario */
  .form-group {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group-label {
    width: 100%;
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 1rem;
    text-align: left;
  }
  
  .form-input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: #007bff;
  }
  
  /* Estilo del botón de registro */
  .btn-register {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-register:hover {
    background-color: #218838;
  }
  